*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
}
p,span,a,button{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;

}
p{
    margin-top: 15px;
    margin-bottom: 15px;
}
section{
    height: 800px;
    padding-bottom: 350px;
}

/* header section style */

.common__content{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}
.common__content img{
    width: 100%;
}
.name__color{
    color: #fa3a5a;
}
.common__button{
    background-color: #fa3a5a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.header__section{
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

/* 
dream section */

.biography__section{
    background-image: url('../img/biography-bg.png') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 
latest section */

.latest__content{
    width: 30%;
    padding: 15px 15px 15px 15px;
}
.latest__content img{
    width: 100%;
}

.content__wraper{
 display: flex;
 justify-content: center;
 align-items: center;
}